In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Bhuvana P\Downloads\All Appliances.csv\All Appliances.csv")
df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Pigeon by Stovekraft Amaze Plus Electric Kettl...,appliances,All Appliances,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Pigeon-Amaze-Plus-1-5-Lt...,3.9,"128,941",₹599,"₹1,245"
1,Pigeon Polypropylene Mini Handy and Compact Ch...,appliances,All Appliances,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Pigeon-Stovekraft-Plasti...,4.1,"274,505",₹199,₹545
2,Glun Multipurpose Portable Electronic Digital ...,appliances,All Appliances,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Multipurpose-Portable-El...,3.8,365,₹199,₹899
3,beatXP Kitchen Scale Multipurpose Portable Ele...,appliances,All Appliances,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/beatXP-Multipurpose-Port...,3.7,"3,290",₹299,"₹1,999"
4,Bajaj DX-6 1000W Dry Iron with Advance Solepla...,appliances,All Appliances,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Bajaj-Majesty-1000-Watt-...,4.2,"24,380",₹625,"₹1,400"

In [3]:
df.isnull()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
9571,False,False,False,False,False,False,False,False,False
9572,False,False,False,False,False,False,False,False,False
9573,False,False,False,False,False,False,False,False,False
9574,False,False,False,False,False,True,True,False,False
9575,False,False,False,False,False,False,False,False,False

In [4]:
df.isnull().sum()

name                0
main_category       0
sub_category        0
image               0
link                0
ratings           478
no_of_ratings     478
discount_price    362
actual_price       91
dtype: int64

In [5]:

df['ratings'].fillna(df['ratings'].median(), inplace=True)
df['no_of_ratings'].fillna(df['no_of_ratings'].median(), inplace=True)
df['actual_price'].fillna(df['actual_price'].mean(), inplace=True)
df['discount_price'].fillna(df['discount_price'].mean(), inplace=True)

TypeError: Cannot convert ['3.9' '4.1' '3.8' ... '3.9' nan '4.1'] to numeric