In [1]:
import pandas as pd
data = { 
    'Name': ['Jiraya','Hatake','Eren','Hinata'],
    'Method':['Traditional','Modern','Traditional','Modern'],
    'Performance':['Pass','Pass','Fail','Fail']
}
df = pd.DataFrame(data)
df

     Name       Method Performance
0  Jiraya  Traditional        Pass
1  Hatake       Modern        Pass
2    Eren  Traditional        Fail
3  Hinata       Modern        Fail

#### loc[] -> Label-based Indexing
use rows/column names(labels)
can be used with conditions

In [17]:
modern_students = df.loc[df['Method'] == 'Modern']
passed_names = df.loc[df['Performance'] == 'Pass','Name']
print(modern_students)
print("Passed students names:")
print(passed_names)
Eren_info = df.loc[df['Name'] == 'Eren',['Method', 'Performance']]
print(Eren_info)
print("printing only method column:")
# : select all rows and only method column
methods = df.loc[:,'Method']
print(methods)
test = df.loc[0:2, 'Name']
print(test)

     Name  Method Performance
1  Hatake  Modern        Pass
3  Hinata  Modern        Fail
Passed students names:
0    Jiraya
1    Hatake
Name: Name, dtype: object
        Method Performance
2  Traditional        Fail
printing only method column:
0    Traditional
1         Modern
2    Traditional
3         Modern
Name: Method, dtype: object
0    Jiraya
1    Hatake
2      Eren
Name: Name, dtype: object

##.loc[] -> Integer Position-Based Indexing
-Use rows/column numbers
-traditional matrix access
-faster for slicing by position

In [22]:
subset1 = df.iloc[0:2, :]#first two rows and all columns
print(subset1)
methods_only = df.iloc[:, 1]
print(methods_only)
student_name = df.iloc[2, 0]
print(student_name)
modern_passed = df.loc[(df['Method'] == 'Modern') & (df['Performance'] == 'Pass')]
print(modern_passed)

     Name       Method Performance
0  Jiraya  Traditional        Pass
1  Hatake       Modern        Pass
0    Traditional
1         Modern
2    Traditional
3         Modern
Name: Method, dtype: object
Eren
     Name  Method Performance
1  Hatake  Modern        Pass

In [37]:
data1 = {
    'Name': ['Amit', 'Bhuvana', 'Chitra', 'David', 'Esha', 'Farhan'],
    'Method': ['Traditional', 'Modern', 'Modern', 'Traditional', 'Modern', 'Traditional'],
    'Performance': ['Pass', 'Pass', 'Fail', 'Fail', 'Pass', 'Fail']
}

df2 = pd.DataFrame(data1)
df2

      Name       Method Performance
0     Amit  Traditional        Pass
1  Bhuvana       Modern        Pass
2   Chitra       Modern        Fail
3    David  Traditional        Fail
4     Esha       Modern        Pass
5   Farhan  Traditional        Fail

In [38]:
methods_count = df2.groupby('Method').size()
print(methods_count)
group_perf = df2.groupby(['Method', 'Performance']).size()
print(group_perf)

Method
Modern         3
Traditional    3
dtype: int64
Method       Performance
Modern       Fail           1
             Pass           2
Traditional  Fail           2
             Pass           1
dtype: int64

In [39]:
passed_df = df2[df2['Performance'] == 'Pass']
perf_pass = passed_df.groupby('Method').size()
print(perf_pass)

Method
Modern         2
Traditional    1
dtype: int64

In [40]:
df2['Score'] = [85, 90, 60, 50, 88, 45]  # Adding a score column

# Average score by method
avg_scores = df2.groupby('Method')['Score'].mean()
print(avg_scores)

Method
Modern         79.333333
Traditional    60.000000
Name: Score, dtype: float64

In [41]:
agg_scores= df2.groupby('Method')['Score'].agg(['mean','min','max','count'])
print(agg_scores)

                  mean  min  max  count
Method
Modern       79.333333   60   90      3
Traditional  60.000000   45   85      3